<!DOCTYPE html>
<html>
<head>
	<title>Daily Fuel Price</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
	<style>
	body {
		background: #456;
  		font-family: 'Open Sans', sans-serif;
		padding: 15px;	
	}
	.fuel {
		
		max-width: 500px;
		margin: 5% auto !important;
	}
	.content{
		background: #ebebeb;
	}
	.hdr {
	 	padding: 20px;
	  	font-size: 1.4em;
	  	font-weight: normal;
	  	text-align: center;
	  	text-transform: uppercase;
	  	
	}
	#city,#fuel{
		border-color: #888;
	}
	#submit{
		background: #28d;
		width: 100%;
  		border-color: transparent;
  		color: #fff;
  		cursor: pointer;
	}
</style>
<script>
	function obtain_price() {
		$(".mss").show();
		$("#result").text("Obtaining price...");
		jsonData = {};
		$.ajax({
			type: "GET",
			dataType: "JSON",
			data: jsonData,
			url: "v1/price/"+$('#city').val()+"/"+$('#fuel').val(),
			success: function(data){
				$('.mss').addClass('positive').removeClass('negative');
				$("#result").text("Current Price for " + $('#fuel').val() + " in " + $('#city').val() + " is ₹ " + data["price"]);
			},
			error: function(data){
				$('.mss').addClass('negative').removeClass('positive');
				
				if(!($('#fuel').val()) && !($('#city').val())){
					$("#result").text("Unable to Fetch Data !!");
				}
				else if(!($('#fuel').val())){
					$("#result").text("Fuel type not selected !!");
				}
				else if(!($('#city').val())){
					$("#result").text("City not selected !!");
				}
				
			}
		});
	}
</script>

</head>
<body>


	<div class="ts card fuel">
		<div class="content">
			<div class="header hdr">
				Fuel Price in India
			</div>
			<div class="description">
				<div class="ts form">
					<div class="field">
						<select id="city" name="city">
							<option value="" disabled selected>
								City
							</option>
							{% for city in city_list | sort %}
							<option value="{{ city }}">
								{{ city }}
							</option>
							{% endfor %}
						</select> 
					</div>
					<div class="field">
						<select id="fuel" name="fuel">
							<option value="" disabled selected>
								Fuel type
							</option>
							{% for fuel in fuel_type | sort %}
							<option value="{{ fuel }}">
								{{ fuel }}
							</option>
							{% endfor %}
						</select>
					</div>
					<button id="submit" class="ts positive basic button" onclick="obtain_price()">Show Price</button>
					<div class="ts card mss" style="display: none">
						<div class="content">
							<div class="description" id="result"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
